<template>
    <section class="hero has-background-light is-fullheight">

        <div class="hero-body">
            <div class="container">
                <p class="title">
                    About page
                </p>
                <p class="subtitle">
                    This page has not been completed yet - please bear with us.
                </p>
                <figure class="image">
                    <img src="../assets/bear-icon.svg">
                </figure>
            </div>

        </div>
    </section>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>

</style>
