<template>
    <div class="has-background-light is-fullheight">
        <section class="hero is-medium has-bg-img">
            <div class="hero-body">
                <p class="title is-2 has-text-light">
                    Gene view
                </p>
                <p v-if="gene_selected.name" class="subtitle has-text-light is-italic">
                    for {{ gene_selected.name }}
                </p>
                <p v-else class="subtitle has-text-light is-italic">
                    None selected - please select a gene to explore variants
                </p>
            </div>
        </section>

        <div class="column is-full has-background-light has-height-small">
        </div>
        <div class="columns">
            <div class="column is-3">
                <FilterBox/>
            </div>
            <div class="column">
                <div class="container">
                    <p class="is-size-4">Variant information</p>
                    This container will contain <strong>variant specific</strong> information for each gene.
                </div>
            </div>
            <div class="column">
                <div class="container">
                    <p class="is-size-4">Gene information</p>
                    This container will contain <strong>gene specific</strong> information.
                </div>
            </div>
        </div>
        <div class="column is-full has-background-white has-height-medium">
            IGV genome browser goes here
        </div>
    </div>
</template>

<script>
import FilterBox from '../components/FilterBox'

export default {
  name: 'Gene',
  components: {FilterBox},
  computed: {
    gene_selected () {
      return this.$store.state.gene_selected
    }
  }
}
</script>

<style scoped>
    .has-height-small {
        height: 4em;
    }

    .has-height-medium {
        height: 12em;
    }
    .has-bg-img {
        background-image: linear-gradient(
          rgba(56, 182, 255, 0.3),
          rgba(255, 135, 62, 0.9)
        ), url(../assets/africa-savanna.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 0% 300%;
        /*background-color: white;*/
    }

</style>
