<template>
    <div class="is-fullheight">
        <section class="hero is-medium has-bg-img">
            <div class="hero-body">
                <p class="title is-2 has-text-light">
                    Variant view
                </p>
                <p v-if="variant_name" class="subtitle has-text-light is-italic">
                    for {{ variant_name }}
                </p>
                <p v-else class="subtitle has-text-light is-italic">
                    None selected - please select a variant to explore
                </p>
            </div>
        </section>

        <div class="columns is-multiline">
            <div class="column is-2 has-background-white">
                <div class="column is-12 has-height-small"></div>
                <FilterBox/>
            </div>
            <div class="column is-10 has-background-light">
                <div class="column is-12 has-height-small"></div>
                <div class="container">
                    <p class="is-size-4">Variant information</p>
                    The following table contains <strong>variant specific</strong> information.
                </div>
                <div class="column is-10 is-offset-1">
                    <VariantInfoTable/>
                </div>
                <div class="column is-12 has-height-small"></div>
                <div class="column is-10 is-offset-1">
                    <div class="container">
                        <p class="is-size-4">Population information</p>
                        The following information describes <strong>population specific</strong> information about the
                        variant.
                    </div>
                </div>
                <div class="column is-10 is-offset-1">

                    <div class="tile is-ancestor">
                        <div class="tile is-5 is-vertical is-parent">
                            <div class="tile is-child box">
                                <p class="title">Population frequencies</p>
                                <AlleleFreqTable/>
                            </div>
                            <div class="tile is-child box">
                                <p class="title">Additional info</p>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <p class="title">Bar plot of population vs MAF</p>
                                <AlleleFreqBarPlot :variant=variant_name />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12 has-background-light has-height-small"></div>

            </div>
            <div class="column is-12 has-background-dark has-height-small"></div>

            <div class="column is-full has-background-dark has-text-light has-height-medium">
                <p class="is-size-4">Variant browser</p>
                IGV genome browser goes here
            </div>
        </div>
    </div>

</template>

<script>
import FilterBox from '../components/FilterBox'
import VariantInfoTable from '../components/VariantInfoTable'
import AlleleFreqTable from '../components/AlleleFreqTable'
import AlleleFreqBarPlot from '../components/AlleleFreqBarPlot'

export default {
  name: 'Variant',
  components: {VariantInfoTable, AlleleFreqTable, AlleleFreqBarPlot, FilterBox},
  computed: {
    variant_name () {
      return this.$route.params.selection
    }
  }
}
</script>

<style scoped>
    .has-height-small {
        height: 4em;
    }

    .has-height-medium {
        height: 12em;
    }

    .has-bg-img {
        background-image: linear-gradient(
                rgba(56, 182, 255, 0.3),
                rgba(255, 135, 62, 0.9)
        ), url(../assets/africa-savanna.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 0% 300%;
        /*background-color: white;*/
    }
</style>
