<template>
    <b-table :data="isEmpty ? [] : data" :columns="columns">
        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                                icon="fas fa-frown"
                                size="is-large">
                        </b-icon>
                    </p>
                    <p>Nothing here.</p>
                </div>
            </section>
        </template>
    </b-table>
</template>

<script>
export default {
  name: 'AlleleFreqTable',
  data () {
    return {
      isEmpty: false,
      data: [
        {
          'sub-population': 'Yoruba',
          'allele_count': 8,
          'allele_total': 200,
          'minor_allele_frequency': 0.040
        },
        {
          'sub-population': 'Mbuti',
          'allele_count': 0,
          'allele_total': 67,
          'minor_allele_frequency': 0.000
        },
        {
          'sub-population': 'Mende',
          'allele_count': 2,
          'allele_total': 80,
          'minor_allele_frequency': 0.025
        },
        {
          'sub-population': 'Bantu',
          'allele_count': 28,
          'allele_total': 280,
          'minor_allele_frequency': 0.100
        }
      ],
      columns: [
        {
          field: 'sub-population',
          label: 'Sub-population'
        },
        {
          field: 'allele_count',
          label: 'Allele count'
        },
        {
          field: 'allele_total',
          label: 'Allele total'
        },
        {
          field: 'minor_allele_frequency',
          label: 'MAF'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
