<template>
    <div>
        <div v-show="Object.keys(this.spec).length" id="vis"></div>
        <div v-show="!Object.keys(this.spec).length">No data to display</div>
    </div>
</template>

<script>
import {default as vegaEmbed} from 'vega-embed'

export default {
  name: 'AlleleFreqBarPlot',
  props: {
    variant: String
  },
  data () {
    return {
      spec: {}
    }
  },
  methods: {
    redrawVis (spec) {
      if (Object.keys(spec).length) {
        vegaEmbed('#vis', spec, {actions: false})
      }
    }
  },
  beforeMount () {
    fetch('/api/allele_freq_plot/' + this.variant).then(response => {
      response.json().then(spec => {
        this.spec = spec
        this.redrawVis(this.spec)
      })
    })
  }
}
</script>

<style scoped>

</style>
