<template>
    <b-menu class="has-text-left has-background-white has-padding-2em">
        <b-menu-list label="Filter results">
            <b-menu-item icon="info-circle" label="Info"></b-menu-item>
            <b-menu-item icon="cog" active expanded>
                <template slot="label" slot-scope="props">
                    Administrator
                    <b-icon
                        class="is-pulled-right"
                        :icon="props.expanded ? 'menu-down' : 'menu-up'">
                    </b-icon>
                </template>
                <b-menu-item icon="users" label="Users"></b-menu-item>
                <b-menu-item icon="desktop" label="Devices"></b-menu-item>
                <b-menu-item icon="wallet" label="Payments" disabled></b-menu-item>
            </b-menu-item>
            <b-menu-item icon="users" label="My Account">
                <b-menu-item label="Account data"></b-menu-item>
                <b-menu-item label="Addresses"></b-menu-item>
            </b-menu-item>
        </b-menu-list>
        <b-menu-list>
            <b-menu-item
                label="Expo"
                icon="link"
                tag="router-link"
                target="_blank"
                to="/expo">
            </b-menu-item>
        </b-menu-list>
        <b-menu-list label="Actions">
            <b-menu-item icon="sign-out-alt" label="Logout"></b-menu-item>
        </b-menu-list>
    </b-menu>
</template>

<script>
export default {
  name: 'FilterBox'
}
</script>

<style scoped>
  .has-padding-2em{
      padding-left: 2em;
      padding-right: 2em
  }
</style>
