<template>
    <div class="hello">
        <section class="hero is-link is-fullheight-with-navbar has-bg-img">
            <div class="hero-body">
                <div class="column is-8 is-offset-2">
                    <p class="title is-size-1 is-title-font">
                        {{ msg }}
                    </p>

                    <div class="column is-8 is-offset-2">
                        <SearchBar/>
                    </div>
                    <div class="column is-8 is-offset-one-quarter">
                    </div>
                    <div class="column is-8 is-offset-2">
                    <p class="subtitle has-text-grey-dark highlighted">
                        The African Genome Variation Database (AGVD) is a platform for exploring genomic variation data
                        within African populations.
                        This project forms part of the H3ABioNet consortium. Currently, the platform is in pilot phase
                        and contains only african data from the 1000 Genomes dataset.
                    </p>
                    </div>

                </div>
            </div>
        </section>
    </div>
</template>

<script>
import SearchBar from '../components/SearchBar'

export default {
  name: 'Hero',
  props: {
    msg: String
  },
  components: {
    SearchBar
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .has-bg-img {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.0)
        ), url(../assets/adults-africa-colorful.jpg);
        background-size: cover;
        /*background-position: 400px 0px;*/
        background-repeat: no-repeat;
        /*background-color: white;*/
    }
    /*.highlighted {*/
    /*!*background-color: #85a3c2;*!*/
    /*background-image: linear-gradient(to right, rgba(56, 182, 255, 0.51) 10%, rgba(255, 255, 255, 0.2) 90%);*/
/*}*/
    .highlighted {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.91) 10%, rgba(255, 255, 255, 0.65) 90%);
        padding: 0.3em
}
    .is-title-font{
        font-family: 'Montserrat', sans-serif;
    }
</style>
