<template>
    <b-navbar fixed-top=true>
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="@/assets/africa-outline.png"
                    alt="African Genome Variation Database"
                >
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                Home
            </b-navbar-item>
            <b-navbar-item href="https://gitlab.com/nonchalant/african-genome-variation-database/">
                Documentation
            </b-navbar-item>
            <b-navbar-dropdown label="Info">
                <b-navbar-item tag="router-link" :to="{ path: '/about' }">
                    About
                </b-navbar-item>
                <b-navbar-item tag="router-link" :to="{ path: '/tutorial' }">
                    Tutorial
                </b-navbar-item>
                <b-navbar-item href="https://www.h3abionet.org/">
                    H3ABioNet
                </b-navbar-item>
                <b-navbar-item tag="router-link" :to="{ path: '/precision-medicine' }">
                    Precision Medicine Portal
                </b-navbar-item>
                <b-navbar-item tag="router-link" :to="{ path: '/contact' }">
                    Contact
                </b-navbar-item>
            </b-navbar-dropdown>
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
export default {
  name: 'Nav'
}
</script>

<style scoped>

</style>
