<template>
    <section>
        <b-field label="" @keyup.enter.native="submit">
            <b-autocomplete
                    rounded
                    expanded
                    v-model="search_term"
                    :data="filteredDataArray"
                    placeholder="Search for a gene, variant, or co-ordinate; e.g. 'SFTPA2', 'rs527413419', 'C148G>C' or '1:55,516,848'"
                    icon="search"
                    @select="option => selected = option">
                <template slot="empty">No results found</template>
            </b-autocomplete>
            <p class="control">
                <b-button type="is-primary" @click="submit">Search</b-button>
            </p>
        </b-field>
    </section>
</template>

<script>

export default {
  name: 'SearchBar',
  data () {
    return {
      data: [
        'SFTPA2',
        'rs527413419',
        'C148G>C',
        '1:55,516,848'
      ],
      search_term: '',
      selected: null
    }
  },
  computed: {
    filteredDataArray () {
      return this.data.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.search_term.toLowerCase()) >= 0
      })
    }

  },
  methods: {
    submit () {
      this.selected = this.search_term
      this.$store.dispatch('newSearch', this.selected)
    }
  }
}
</script>

<style scoped>

</style>
