<template>
    <b-table :data="isEmpty ? [] : data" :columns="columns">
        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                                icon="fas fa-frown"
                                size="is-large">
                        </b-icon>
                    </p>
                    <p>Nothing here.</p>
                </div>
            </section>
        </template>
    </b-table>
</template>

<script>
export default {
  name: 'VariantInfoTable',
  data () {
    return {
      isEmpty: false,
      data: [
        {
          'rsID': 'rs527413419',
          'position': 'chr1:55051215-55051216 (GRCh38.p12)',
          'gene': 'PCSK9',
          'variant_type': 'Insertion',
          'alleles': 'insA',
          'consequence': 'intron_variant; non_coding_transcript_exon_variant',
          'clinvar_entry': 'Not reported'
        },
        {
          'rsID': 'xxxrs527413419',
          'position': 'xxxchr1:55051215-55051216 (GRCh38.p12)',
          'gene': 'xxxPCSK9',
          'variant_type': 'xxxInsertion',
          'alleles': 'xxxinsA',
          'consequence': 'xxxintron_variant; non_coding_transcript_exon_variant',
          'clinvar_entry': 'xxxNot reported'
        }
      ],
      columns: [
        {
          field: 'rsID',
          label: 'rsID'
        },
        {
          field: 'position',
          label: 'Position'
        },
        {
          field: 'gene',
          label: 'Gene'
        },
        {
          field: 'variant_type',
          label: 'Variant Type'
        },
        {
          field: 'alleles',
          label: 'Alleles'
        },
        {
          field: 'consequence',
          label: 'Consequence'
        },
        {
          field: 'clinvar_entry',
          label: 'ClinVar Entry'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
